*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.logo{
    width: 120px;
}
.list{
    display: flex;
}
.item{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.img{
    width: 400px;
}
.banner-container h1{
    font-size: 55px;

}
.banner-container p{
    font-size: 18px;
    margin-top: 10px;
}
.btn{
    background-color: red;
    color: #fff;
    padding: 14px 25px;
    border: none;
    margin-top: 20px;
}
.about-img{
    width: 300px;
}
.about-container{
    display: flex;
    justify-content: space-around;

}
.about-section h1{
    text-align: center;
    font-size: 45px;
    padding: 20px;
}
.about-content h3{
    font-size: 30px;
    margin-top: 20px;
}
.about-content p{
    font-size: 18px;
    margin-top: 10px;
}
.services{
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.services > h1{
    font-size: 45px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.service-box{
    width: 250px;
    height: 325px;
    color: #fff;
    background-color: rgba(0, 0, 0,.5);
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 17px 9px #333;
    border-radius: 5px;
    line-height: 22px;
}
.service-box > h1{
    padding: 10px;
}
.icon{
    width: 70px;
}
footer{
    background-color: #0f0f0f;
    height: 400px;
}
.contact-container{
    display: flex;
    background-color: #0f0f0f;
    color: #fff;
    width: 80%;
    justify-content: space-around;
    height: 350px;
    padding-top: 100px;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    margin: 0 auto;
}
.contact > p {
    margin-top: 10px;
    line-height: 25px;
}
.copy{
    text-align: center;
    color: #fff;
    padding: 10px;
}